
# If LOGIN_ALLOWED_EMAILS is setup, only configured users can be logged in such that each user can have their own private storage
# for their respectivly generated image outputs.
# *** Note: no actual login is required; user just gets to choose who he / she is *** 
# LOGIN_ALLOWED_EMAILS="peterpan@gmail.com,wendydarling@gmail.com,tinkerbell@gmail.com"

# It can be specified that a specific user is the "owner" of the `gen_image_ui` app deployment
# OWNER_EMAIL="peterpan@gmail.com"


# For generate image LLM API service provided by Wavespeed -- https://www.wavespeed.com/
WAVESPEED_API_KEY="..."

# For LLM API service provided by OpenRouter -- https://openrouter.ai/
OPENROUTER_API_KEY="..."

# For Stable Diffusion image generation service provided by Stability AI -- https://platform.stability.ai/
STABILITY_API_KEY="..."

# For Midjourney image generation service provided by TTAPI -- https://dashboard.ttapi.io/dashboard/overview
TT_API_KEY="..."


# Optional: For LLM tool "web search" service provided by Tavily -- https://www.tavily.com/
TAVILY_API_KEY="..."


# Optional: For LLM tool getting weather info service (v2.5 API) provided by OpenWeather -- https://home.openweathermap.org/users/sign_up
OPEN_WEATHER_MAP_APP_ID="..."
DEFAULT_LOCATION_FOR_WEATHER_INFO="Hong Kong"


# ### use local LMStudio gemma-4-e4b-it for LLM prompting like prompt enhancement and LLM question answering
# OPENAI_API_KEY="lmstudio"
# OPENAI_BASE_URL="http://192.168.0.127:8877/v1"
# OPENAI_MODEL="gemma-4-e4b-it"



