# For generate image LLM API service provided by Wavespeed -- https://www.wavespeed.com/
WAVESPEED_API_KEY="..."

# For LLM API service provided by OpenRouter -- https://openrouter.ai/
OPENROUTER_API_KEY="..."

# For Stable Diffusion image generation service provided by Stability AI -- https://platform.stability.ai/
STABILITY_API_KEY="..."

# For Midjourney image generation service provided by TTAPI -- https://dashboard.ttapi.io/dashboard/overview
TT_API_KEY="..."


# Optional: For LLM tool "web search" service provided by Tavily -- https://www.tavily.com/
TAVILY_API_KEY="..."


# Optional: For LLM tool getting weather info service (v2.5 API) provided by OpenWeather -- https://home.openweathermap.org/users/sign_up
OPEN_WEATHER_MAP_APP_ID="..."
DEFAULT_LOCATION_FOR_WEATHER_INFO="Hong Kong"


